.cards-usp-container .cards-usp-wrapper {
  max-width: unset;
  padding: 0;
}

.cards-usp {
  border-bottom: 3px solid var(--brand-red);
  background-color: var(--background-color);
  color: var(--brand-plum);
}

.cards-usp > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 28px;
  box-sizing: border-box;
}

.cards-usp > ul > li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cards-usp .cards-usp-icon {
  flex: 0 0 auto;
  line-height: 0;
}

.cards-usp .cards-usp-icon img,
.cards-usp .cards-usp-icon .icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.cards-usp .cards-usp-text,
.cards-usp .cards-usp-text > * {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
}

@media (width >= 600px) {
  .cards-usp .cards-usp-icon img,
  .cards-usp .cards-usp-icon .icon {
    width: 24px;
    height: 24px;
  }
}

@media (width >= 992px) {
  .cards-usp > ul {
    flex-direction: row;
    gap: 36px;
    padding: 8px 12px;
  }

  .cards-usp .cards-usp-text,
  .cards-usp .cards-usp-text > * {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (width >= 1100px) {
  .cards-usp > ul > li {
    gap: 12px;
  }

  .cards-usp .cards-usp-icon img,
  .cards-usp .cards-usp-icon .icon {
    width: 32px;
    height: 32px;
  }
}
